<!-- Alexey Haidak -->

<section class="section">
  <div class="container">
    <h2 class="section-title components-title">
      It all adds up to one exeptional
      <span class="title-span">taste</span> sensation
    </h2>
    <p class="components-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <!-- <ul class="components-cards">
    <li class="components-flip-card flip-scale-2-ver-left">
        <div class="flip-card-inner">
            <div class="flip-card-front orange-card-style">
                <img  loading="lazy" class="components-img" src="./images/unique-components/chocolate.png"
                    srcset="./images/unique-components/chocolate.png 1x, ./images/unique-components/chocolate@2x.png 2x"
                    alt="chocolate" width="224" height="171">
                <h3 class="components-card-front-title light-card-title">Milk chocolate</h3>
            </div>
            <div class="flip-card-back flip-card-back-scroll">
                <h3 class="components-card-back-title">Milk chocolate</h3>
                <div class="components-card-back-nav">
                    <p class="card-back-passive-nav">chocolate</p>
                    <p class="card-back-active-nav">the benefits</p>
                </div>
                <p class="card-back-description">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of
                    chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of
                    all
                    milk chocolate is sold in the United States and Europe.</p>
            </div>
        </div>
    </li>
    <li class="components-flip-card flip-scale-2-ver-left">
        <div class="flip-card-inner">
            <div class="flip-card-front light-card-style">
                <img  loading="lazy" class="components-img" src="../images/unique-components/milk.png"
                    srcset="./images/unique-components/milk.png 1x, ./images/unique-components/milk@2x.png 2x" alt="milk" width="224"
                    height="171">
                <h3 class="components-card-front-title">Milk</h3>
            </div>
            <div class="flip-card-back flip-card-back-scroll">
                <h3 class="components-card-back-title">Milk</h3>
                <div class="components-card-back-nav">
                    <p class="card-back-passive-nav">milk</p>
                    <p class="card-back-active-nav">the benefits</p>
                </div>
                <p class="card-back-description">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for
                    young
                    mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is
                    called colostrum, contains antibodies that strengthen the immune system.</p>
            </div>
        </div>
    </li>
    <li class="components-flip-card flip-scale-2-ver-left">
        <div class="flip-card-inner">
            <div class="flip-card-front dark-card-style">
                <img  loading="lazy" class="components-img" src="./images/unique-components/nuts.png"
                    srcset="./images/unique-components/nuts.png 1x, ./images/unique-components/nuts@2x.png 2x" alt="nuts" width="224"
                    height="171">
                <h3 class="components-card-front-title light-card-title">Nuts</h3>
            </div>
            <div class="flip-card-back flip-card-back-scroll">
                <h3 class="components-card-back-title">Nuts</h3>
                <div class="components-card-back-nav">
                    <p class="card-back-passive-nav">nuts</p>
                    <p class="card-back-active-nav">the benefits</p>
                </div>
                <p class="card-back-description">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a
                    nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good
                    source
                    of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
            </div>
        </div>
    </li>
    <li class="components-flip-card flip-scale-2-ver-left">
        <div class="flip-card-inner">
            <div class="flip-card-front light-card-style">
                <img  loading="lazy" class="components-img" src="../images/unique-components/cocoa.png"
                    srcset="./images/unique-components/cocoa.png 1x, ./images/unique-components/cocoa@2x.png 2x" alt="cocoa"
                    width="224" height="171">
                <h3 class="components-card-front-title">Semi - sweet chocolate</h3>
            </div>
            <div class="flip-card-back flip-card-back-scroll">
                <h3 class="components-card-back-title">Semi - sweet chocolate</h3>
                <div class="components-card-back-nav">
                    <p class="card-back-passive-nav button-configure-text">sweet chocolate</p>
                    <p class="card-back-active-nav button-configure-text">the benefits</p>
                </div>
                <p class="card-back-description">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this
                    type
                    of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste
                    comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
            </div>
        </div>
    </li>
</ul> -->

    <ul class="components-cards">
      <li class="components-flip-card flip-scale-2-ver-left">
        <div class="flip-card-inner">
          <div class="flip-card-front orange-card-style">
            <img
              loading="lazy"
              class="components-img"
              src="./images/unique-components/chocolate.webp"
              srcset="./images/unique-components/chocolate@2x.webp 2x"
              alt="chocolate"
              width="224"
              height="171"
              type="image/webp"
            />
            <h3 class="components-card-front-title light-card-title">
              Milk chocolate
            </h3>
          </div>
          <div class="flip-card-back flip-card-back-scroll">
            <h3 class="components-card-back-title">Milk chocolate</h3>
            <div class="components-card-back-nav">
              <p class="card-back-passive-nav">chocolate</p>
              <p class="card-back-active-nav">the benefits</p>
            </div>
            <p class="card-back-description">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
      <li class="components-flip-card flip-scale-2-ver-left">
        <div class="flip-card-inner">
          <div class="flip-card-front light-card-style">
            <img
              loading="lazy"
              class="components-img"
              src="./images/unique-components/milk.webp"
              srcset="./images/unique-components/milk@2x.webp 2x"
              alt="milk"
              width="224"
              height="171"
              type="image/webp"
            />
            <h3 class="components-card-front-title">Milk</h3>
          </div>
          <div class="flip-card-back flip-card-back-scroll">
            <h3 class="components-card-back-title">Milk</h3>
            <div class="components-card-back-nav">
              <p class="card-back-passive-nav">milk</p>
              <p class="card-back-active-nav">the benefits</p>
            </div>
            <p class="card-back-description">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="components-flip-card flip-scale-2-ver-left">
        <div class="flip-card-inner">
          <div class="flip-card-front dark-card-style">
            <img
              loading="lazy"
              class="components-img"
              src="./images/unique-components/nuts.webp"
              srcset="./images/unique-components/nuts@2x.webp 2x"
              alt="nuts"
              width="224"
              height="171"
              type="image/webp"
            />
            <h3 class="components-card-front-title light-card-title">Nuts</h3>
          </div>
          <div class="flip-card-back flip-card-back-scroll">
            <h3 class="components-card-back-title">Nuts</h3>
            <div class="components-card-back-nav">
              <p class="card-back-passive-nav">nuts</p>
              <p class="card-back-active-nav">the benefits</p>
            </div>
            <p class="card-back-description">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>
      <li class="components-flip-card flip-scale-2-ver-left">
        <div class="flip-card-inner">
          <div class="flip-card-front light-card-style">
            <img
              loading="lazy"
              class="components-img"
              src="./images/unique-components/cocoa.webp"
              srcset="./images/unique-components/cocoa@2x.webp 2x"
              alt="cocoa"
              width="224"
              height="171"
              type="image/webp"
            />
            <h3 class="components-card-front-title">Semi - sweet chocolate</h3>
          </div>
          <div class="flip-card-back flip-card-back-scroll">
            <h3 class="components-card-back-title">Semi - sweet chocolate</h3>
            <div class="components-card-back-nav">
              <p class="card-back-passive-nav button-configure-text">
                sweet chocolate
              </p>
              <p class="card-back-active-nav button-configure-text">
                the benefits
              </p>
            </div>
            <p class="card-back-description">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
