<!-- Volodimir -->

<footer class="page-footer">
    <div class="container footer-container">
        <div class="footer-up-block">
            <div>
                <h2 class="footer-slogan"><span class="footer-first-slogan">Chocolate</span> a delicious cure for a bad day</h2>
            </div>
            <div class="footer-up-block-right">
                <ul class="footer-contact"><p class="footer-contact-first">Contact us</p>
                    <li><a class="footer-contact-link" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
                    <li><a class="footer-contact-link" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a></li>
                </ul>
                <ul class="list footer-social-list">
                    <li>
                        <a href="https://www.instagram.com" target="_blank" class="link footer-social-link">
                            <svg class="footer-social-icon" width="24" height=24>
                                <use href="./images/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com" target="_blank" class="link footer-social-link">
                            <svg class="footer-social-icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-nav">
            <ul class="footer-nav-list">
                <li><a href="./index.html" class="link footer-nav-link">Home</a></li>
                <li><a href="#how-its-made" class="link footer-nav-link">How it’s made?</a></li>
                <li><a href="#our-products" class="link footer-nav-link">Our products</a></li>
                <li><a href="#top-sellers" class="link footer-nav-link">Top sellers</a></li>
                <li><a href="#chocolate-love" class="link footer-nav-link">Chocolate is loved</a></li>
            </ul>
        </div>

    </div>
</footer>
