<!-- Volodimir -->

<section>
    <div class="container">
        <h2 class="title vladimir-example">Hello my dear friend</h2>
        <!-- Обрати внимание, что стили на контейнер и на класс title приходят из файла стилей general.css  -->
        <!-- Тебе нужно просто продолжать свой код html в этом контейнере -->
        <!-- Общие сбросы для заголовков, списков и так далее   приходят с файла reset.css, поэтому тебе не нужно делать контейнер и общие сбросы -->
        <!-- Цвет заголовка Томато приходит из твоего файла css, где ты будешь работать -->
        <!-- Если я забыл указать какой-то общий сброс или есть идея по поводу общей переменной в руте - сообщи мне. Удачи =) -->
    </div>
</section>