<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="logotype link">
        <span class="header-simply-logotype">SIMPLY</span> CHOCOLATE
        <svg class="chocolate-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-chocolate"></use>
        </svg>
      </a>
      <ul class="list header-nav-list">
        <li><a href="./index.html" class="link header-nav-link">Home</a></li>
        <li>
          <a href="#how-its-made" class="link header-nav-link"
            >How it’s made?</a
          >
        </li>
        <li>
          <a href="#our-products" class="link header-nav-link">Our products</a>
        </li>
        <li>
          <a href="#top-sellers" class="link header-nav-link">Top sellers</a>
        </li>
        <li>
          <a href="#chocolate-love" class="link header-nav-link"
            >Chocolate is loved</a
          >
        </li>
        <li>
          <button  class="link header-nav-link button-registration" data-fifth-modal-open>Log in / Registration</button>
        </li>
      </ul>
    </nav>

    <ul class="list header-social-list">
      <li>
        <a
          href="https://www.instagram.com"
          target="_blank"
          class="link header-social-link"
          aria-label="Instagram icon"
        >
          <svg class="header-social-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.twitter.com"
          target="_blank"
          class="link header-social-link"
          aria-label="Twitter icon"
        >
          <svg class="header-social-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="burger-button js-open-menu"
      aria-label="open mobile menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon-burger" width="28" height="28">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
