<!-- Yakiv -->

<section class="hero-section">
  <div class="container">
    <div class="hero-container">
      <h2 class="title visually-hidden">Simply Chocolate</h2>
      <h1 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <div class="hero-nav">
        <div class="hero-nav-btn-wrapper">
          <button class="btn-buy-now" type="button">Buy now</button>
          <a class="btn-how-its-made" href="#how-its-made"> How it’s made </a>
        </div>
        <a class="btn-scroll-down" href="#footer">
          scroll down
          <span class="icon-arrow-wrapper">
            <svg class="icon-arrow">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
