<!-- Yakiv -->

<section class="hero-section">
  <div class="container">
    <div class="hero-container">
      <h2 class="visually-hidden">Simply Chocolate</h2>
      <h1 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <ul class="hero-nav-list">
        <li class="hero-nav-item">
          <button class="button btn-buy-now" type="button" data-first-modal-open>Buy now</button>
        </li>
        <li class="hero-nav-item">
          <a class="link btn-how-its-made" href="#how-its-made">
            How it’s made
          </a>
        </li>
        <li class="hero-nav-item">
          <a class="link btn-scroll-down" href="#footer">
            scroll down
            <span class="icon-arrow-wrapper">
              <svg class="icon-arrow" width="22" height="22">
                <use href="./images/sprite.svg#icon-arrow"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>