<!-- Yakiv -->

<section class="section hero-section">
  <div class="container">
    <div class="hero-container">
      <h2 class="visually-hidden">Simply Chocolate</h2>
      <h1 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <ul class="hero-nav-list">
        <li class="hero-nav-list-item">
          <button
            class="small-text-button accent-button btn-buy-now"
            type="button"
            data-first-modal-open
          >
            Buy now
          </button>
        </li>
        <li class="hero-nav-list-item">
          <a
            class="small-text-button transparent-button btn-how-its-made"
            href="#how-its-made"
          >
            How it’s made
          </a>
        </li>
        <li class="hero-nav-list-item">
          <a class="btn-scroll btn-scroll-down" href="#footer">
            scroll down
            <span class="icon-arrow-wrapper icon-arrow-wrapper-down">
              <svg class="icon-arrow icon-arrow-down" width="22" height="22">
                <use href="./images/sprite.svg#icon-arrow"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <!-- scroll to top -->
    <div class="isShowBtn isShowBtn-hide">
      <button class="btn-scroll btn-scroll-top">
        scroll top
        <span class="icon-arrow-wrapper icon-arrow-wrapper-top">
          <svg class="icon-arrow icon-arrow-top" width="22" height="22">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>
