<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu-container">
    <button
      type="button"
      class="close-mobile-menu js-close-menu"
      aria-label="close mobile menu"
    >
      <svg width="28" height="28" class="icon-close">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="small-container">
      <nav>
        <ul class="list mobile-nav-list">
          <li>
            <a
              href="./index.html"
              class="link mobile-menu-link mobile-home-link js-close-menu"
              >Home</a
            >
          </li>
          <li>
            <a href="#how-its-made" class="link mobile-menu-link js-close-menu"
              >How it’s made?</a
            >
          </li>
          <li>
            <a href="#our-products" class="link mobile-menu-link js-close-menu"
              >Our products</a
            >
          </li>
          <li>
            <a href="#top-sellers" class="link mobile-menu-link js-close-menu"
              >Top sellers</a
            >
          </li>
          <li>
            <a
              href="#chocolate-love"
              class="link mobile-menu-link js-close-menu"
              >Chocolate is loved</a
            >
          </li>
          <li>
            <button  class="link mobile-menu-link button-registration js-close-menu" data-fifth-modal-open>Log in / Registration</button>
          </li>
        </ul>
      </nav>

      <ul class="mobile-social-list list">
        <li>
          <a
            href="https://www.instagram.com"
            class="mobile-social-link link"
            target="_blank"
            aria-label="Instagram icon"
          >
            <svg class="mobile-social-icon" width="22" height="22">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            href="https://www.twitter.com"
            class="mobile-social-link link"
            target="_blank"
            aria-label="Twitter icon"
          >
            <svg class="mobile-social-icon" width="22" height="22">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
