<div class="backdrop is-hidden" data-third-modal>
  <div class="modal subscribe-modal">
    <div class="subscribe-modal-container">
      <button
        class="modal-close-btn"
        type="button"
        aria-label="close modal window"
        data-third-modal-close
      >
        <svg class="modal-close-icon subscribe-modal-close-icon">
          <use href="/images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-window-title modal-subscribe-title">
        Explore our
        <span> <span class="title-span">new chocolate </span>first! </span>
      </h2>
      <form class="subscribe-form" autocomplete="off">
        <input
          class="form-input subscribe-form-input"
          type="email"
          name="subscribe-user-email"
          placeholder="Enter your email"
          required
        />
        <button
          class="modal-button accent-button subscribe-form-submit"
          type="submit"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
</div>
