<!-- Alina  -->

<div class="backdrop is-hidden" data-first-modal>
    <div class="buy-now-modal modal">
        <button type="button" class="buy-now-modal-close-btn modal-close-btn" data-first-modal-close>
            <svg class="buy-now-modal-close-icon" data-modal-close>
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="buy-now-title title">bUY <span class="title-span">nOW</span> </h2>
        <form class="buy-now-modal-form" autocomplete="off">
            <div class="buy-now-modal-chocolate-weight-container">
                <label class="buy-now-form-chocolate-weight-wrapper">
                    <input type="radio" name="weight" class="buy-now-modal-radio" checked>
                    <span class="chocolate-weight-container">
                        <img class="buy-now-modal-img" srcset="./images/buy-now-modal/buy-now-modal-img-1@2.png"
                            src="./images/buy-now-modal/buy-now-modal-img-1.png" alt="chocolate">
                        <span class="chocolate-weight">100 g</span>
                    </span>
                </label>
                <label class="buy-now-form-chocolate-weight-wrapper">
                    <input type="radio" name="weight" class="buy-now-modal-radio">
                    <span class="chocolate-weight-container">
                        <img class="buy-now-modal-img" srcset="./images/buy-now-modal/buy-now-modal-img-2@2.png"
                            src="./images/buy-now-modal/buy-now-modal-img-2.png" alt="chocolate">
                        <span class="chocolate-weight">200 g</span>
                    </span>
                </label>
                <label class="buy-now-form-chocolate-weight-wrapper">
                    <input type="radio" name="weight" class="buy-now-modal-radio">
                    <span class="chocolate-weight-container">
                        <img class="buy-now-modal-img" srcset="./images/buy-now-modal/buy-now-modal-img-3@2.png"
                            src="./images/buy-now-modal/buy-now-modal-img-3.png" alt="chocolate">
                        <span class="chocolate-weight">300 g</span>
                    </span>
                </label>
            </div>

            <label class="buy-now-form-wrapper-for-user-name" for="user-name">Personal information</label>
            <label class="" for="user-surname"></label>
            <span class="contact-form-input-container">
                <input class="user-name" id="user-name" type="text" name="user-name" pattern="[a-zA-zа-яА-ЯіІїЇєЄ']+"
                    placeholder="Name" required>
                <input class="user-surname" id="user-surname" type="text" name="user-surname"
                    pattern="[a-zA-zа-яА-ЯіІїЇєЄ']+" placeholder="Surname" required>
            </span>
            <label class="buy-now-form-field-wrapper"> <span class="contact-form-field-desk">Email</span>
                <input class="user-email" type="email" name="user-email" placeholder="Enter your email" required>
            </label>

            <label class="buy-now-form-field-wrapper ">
                <span class="contact-form-field-desk">Phone number</span>
                <span class="country-code-wrapper">
                    <input class="user-tel" type="tel" name="phone" maxlength="9" minlength="9"
                        placeholder="Phone number" required>
                    <svg class="icon-flag">
                        <use class="flag" href="./images/sprite.svg#icon-flag"></use>
                    </svg>
                </span>
            </label>

            <label class="buy-now-form-field-wrapper"> <span class="contact-form-field-desk">Card number</span>
                <span class="user-card-container">
                    <input class="user-card" name="card" type="tel" maxlength="16" minlength="16"
                        placeholder="Enter card" required>
                    <svg class="icon-master-card">
                        <use href="./images/sprite.svg#icon-mastercard"></use>
                    </svg>
                </span>
            </label>
            <label class="buy-now-form-textarea-wrapper">
                <span class="contact-form-field-desk">Comment</span>
                <textarea class="user-comment" name="user-comment" placeholder="Enter text"></textarea>
            </label>
            <button type="submit" class="button buy-now-modal-submit-btn">
                Submit
            </button>
        </form>
    </div>
</div>

<!-- Обрати внимание, что стили на контейнер и на класс title приходят из файла стилей general.css  -->
<!-- Тебе нужно просто продолжать свой код html в этом контейнере -->
<!-- Класс section не убирай, я на него закинул общие падинги для секций. Если тебе нужно задать стили на секцию, задай дополнительный класс -->
<!-- Перед началом работы, ознакомься, пожалуйста с файлами general.css u reset.css. В файле general я прописал общие падинги для секций. Если у твоей секции нет общих отступов, то значит, яз аписал их в твоём личном файле css -->
<!-- Я создал заголовок h2 и указал ему класс title и на спан title-span, чтобі Вы поняли, откуда, какие стили приходят. h2 это у нас заголовки секций, если в твоей секции нет этого заголовка по макету, то просто удали его, значит он тебе просто напросто не нужен -->
<!-- Общие сбросы для заголовков, списков и так далее   приходят с файла reset.css, поэтому тебе не нужно делать контейнер и общие сбросы -->
<!-- Цвет заголовка Томато приходит из твоего файла css, где ты будешь работать -->
<!-- Если я забыл указать какой-то общий сброс или есть идея по поводу общей переменной в руте - сообщи мне. Удачи =) -->