<div class="backdrop is-hidden" data-third-modal>
  <div class="modal subscribe-modal">
    <button class="subscribe-modal-close-btn modal-close-btn" type="button" data-third-modal-close>
      <svg class="subscribe-modal-close-icon" width="24" height="24">
        <use href="/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="title modal-title">
      Explore our
      <span>
        <span class="title-span modal-title-span">new chocolate </span>first!
      </span>
    </h2>
    <form class="modal-form">
      <label class="modal-form-label">
        <input
          class="modal-form-input"
          type="email"
          name="user-email"
          placeholder="Enter your email"
          required
        />
      </label>
      <button class="modal-form-submit button" type="submit" >Subscribe</button>
    </form>
  </div>
</div>
