<div class="backdrop is-hidden" data-second-modal>
  <div class="review-modal-window modal">
    <button
      type="button"
      class="review-button-close modal-close-btn"
      aria-label="close modal window"
      data-second-modal-close
    >
      <svg class="review-close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-window-title modal-reviews-title">
      leave a review
      <span class="span-to-enter"
        >about <span class="title-span">our chocolate</span></span
      >
    </h2>
    <form class="review-input-list" autocomplete="off">
      <input
        class="review-input-item"
        placeholder="Name"
        type="text"
        name="user-name"
        required
       
      />
      <input
        class="review-input-item"
        placeholder="Enter your email"
        type="email"
        name="user-mail"
        required
      />
      <div class="review-input-item-flag">
        <input
          required
          class="review-input-item spaces-number"
          placeholder="Phone number"
          type="tel"
          name="phone"
        />
        <div class="review-flag-block">
          <svg width="24" height="24">
            <use href="./images/sprite.svg#icon-flag"></use>
          </svg>
          <p class="review-flag-after">+380</p>
        </div>
      </div>

      <textarea
        class="review-textarea"
        name="user-comment"
        id="review-text-area"
        placeholder="Enter text"
      ></textarea>
      <button
        class="modal-button accent-button review-button-send"
        type="submit"
      >
        Send
      </button>
    </form>
  </div>
</div>
