<!-- Taras Kuhta -->

<section class="section" id="our-products">
    <div class="container">
        <h2 class="title title-our-product">OUR <span class="title-span">PRODUCTS</span> </h2>
        <ul class="our-product-list">
            <li class="mobile-products-list"><img src="../images/products/orange-1x.jpg" alt="our products" srcset="../images/products/orange-2x.jpg" width="230" height="201">
                 <div class="products-name">
                <h3 class="text-main-products">ORANGE
                <p class="text-minor-products">Dark chocolate</p>
                </h3>
                <button class="price-btn" type="button">45 UAH</button>
            </div></li>
            <li class="mobile-products-list"><img src="../images/products/apple-1x.jpg" alt="our products" srcset="../images/products/apple-2x.jpg" width="230" height="201">
                <div class="products-name">
                <h3 class="text-main-products">APPLE&CRANBERRY
                <p class="text-minor-products">Milk chocolate</p>
                </h3>
                <button class="price-btn" type="button">50 UAH</button>
                </div>
            </li>
            <li class="mobile-products-list"><img src="../images/products/lime-1x.jpg" alt="our products" srcset="../images/products/lime-2x.jpg" width="230" height="201">
                <div class="products-name">
                    <h3 class="text-main-products">LIME&SEA SALT
                    <p class="text-minor-products">Dark chocolate</p>
                    </h3>
                    <button class="price-btn" type="button">66 UAH</button>
                </div>
            </li>
            <li class="mobile-products-list"><img src="../images/products/pineapple-1x.jpg" alt="our products" srcset="../images/products/pineapple-2x.jpg" width="230" height="201">
                <div class="products-name">
                    <h3 class="text-main-products">PINEAPPLE
                    <p class="text-minor-products">Dark chocolate</p>
                    </h3>
                    <button class="price-btn" type="button">54 UAH</button>
                </div>
            </li>
            <li class="mobile-products-list"><img src="../images/products/classic-milk-1x.jpg" alt="our products" srcset="../images/products/classic-milk-2x.jpg" width="230" height="201">
                <div class="products-name">
                    <h3 class="text-main-products">CLASSIC
                    <p class="text-minor-products">Milk chocolate</p>
                    </h3>
                    <button class="price-btn" type="button">45 UAH</button>
                </div>
            </li>
            <li class="mobile-products-list"><img src="../images/products/honey-1x.jpg" alt="our products" srcset="../images/products/honey-2x.jpg" width="230" height="201">
                <div class="products-name">
                    <h3 class="text-main-products">HONEY
                    <p class="text-minor-products">Milk chocolate</p>
                    </h3>
                    <button class="price-btn" type="button">50 UAH</button>
                </div>
            </li>
            <li class="mobile-products-list"><img src="../images/products/roasted-1x.jpg" alt="our products" srcset="../images/products/roasted-2x.jpg" width="230" height="201">
                <div class="products-name">
                    <h3 class="text-main-products">ROASTED FRUITS
                    <p class="text-minor-products">Dark chocolate</p>
                    </h3>
                    <button class="price-btn" type="button">66 UAH</button>
                </div>
            </li>
            <li class="mobile-products-list"><img src="../images/products/classic-white-1x.jpg" alt="our products" srcset="../images/products/classic-white-2x.jpg" width="230" height="201">
                <div class="products-name">
                    <h3 class="text-main-products">CLASSIC
                    <p class="text-minor-products">White chocolate</p>
                    </h3>
                    <button class="price-btn" type="button">54 UAH</button>
                </div>
            </li>
            
        </ul>
        
        <!-- Обрати внимание, что стили на контейнер и на класс title приходят из файла стилей general.css  -->
        <!-- Тебе нужно просто продолжать свой код html в этом контейнере -->
        <!-- Класс section не убирай, я на него закинул общие падинги для секций. Если тебе нужно задать стили на секцию, задай дополнительный класс -->
        <!-- Перед началом работы, ознакомься, пожалуйста с файлами general.css u reset.css. В файле general я прописал общие падинги для секций. Если у твоей секции нет общих отступов, то значит, яз аписал их в твоём личном файле css -->
        <!-- Общие сбросы для заголовков, списков и так далее   приходят с файла reset.css, поэтому тебе не нужно делать контейнер и общие сбросы -->
        <!-- Цвет заголовка Томато приходит из твоего файла css, где ты будешь работать -->
        <!-- Если я забыл указать какой-то общий сброс или есть идея по поводу общей переменной в руте - сообщи мне. Удачи =) -->
    </div>
</section>