<!-- Taras Kuhta -->
<section class="section" id="our-products">
    <div class="container our-products-container">
        <h2 class="title title-our-product">OUR <span class="title-span">PRODUCTS</span> </h2>
        <div class="swiper products-swiper">
            <ul class="our-product-list swiper-wrapper">
                <li class="mobile-products-list swiper-slide"><img srcset="./images/products/orange-2x.jpg 2x"
                     src="./images/products/orange-1x.jpg"
                        alt="our products"  width="230" height="201">
                    <div class="products-name">
                        <h3 class="text-main-products">ORANGE
                        </h3>
                        <p class="text-minor-products">Dark chocolate</p>
                        <button class="price-btn" type="button">45 UAH</button>
                    </div>
                </li>
                <li class="mobile-products-list swiper-slide"><img srcset="./images/products/apple-2x.jpg 2x"
                     src="./images/products/apple-1x.jpg"
                        alt="our products"  width="230" height="201">
                    <div class="products-name">
                        <h3 class="text-main-products">APPLE&CRANBERRY

                        </h3>
                        <p class="text-minor-products">Milk chocolate</p>
                        <button class="price-btn" type="button">50 UAH</button>
                    </div>
                </li>
                <li class="mobile-products-list swiper-slide"><img srcset="./images/products/lime-2x.jpg 2x"
                     src="./images/products/lime-1x.jpg"
                        alt="our products"  width="230" height="201">
                    <div class="products-name">
                        <h3 class="text-main-products">LIME&SEA SALT

                        </h3>
                        <p class="text-minor-products">Dark chocolate</p>
                        <button class="price-btn" type="button">66 UAH</button>
                    </div>
                </li>
                <li class="mobile-products-list swiper-slide"><img srcset="./images/products/pineapple-2x.jpg 2x" 
                    src="./images/products/pineapple-1x.jpg"
                        alt="our products"  width="230" height="201">
                    <div class="products-name">
                        <h3 class="text-main-products">PINEAPPLE

                        </h3>
                        <p class="text-minor-products">Dark chocolate</p>
                        <button class="price-btn" type="button">54 UAH</button>
                    </div>
                </li>
                <li class="mobile-products-list swiper-slide"><img srcset="./images/products/classic-milk-2x.jpg 2x"
                     src="./images/products/classic-milk-1x.jpg"
                        alt="our products"  width="230" height="201">
                    <div class="products-name">
                        <h3 class="text-main-products">CLASSIC

                        </h3>
                        <p class="text-minor-products">Milk chocolate</p>
                        <button class="price-btn" type="button">45 UAH</button>
                    </div>
                </li>
                <li class="mobile-products-list swiper-slide"><img srcset="./images/products/honey-2x.jpg 2x"
                     src="./images/products/honey-1x.jpg"
                        alt="our products"  width="230" height="201">
                    <div class="products-name">
                        <h3 class="text-main-products">HONEY

                        </h3>
                        <p class="text-minor-products">Milk chocolate</p>
                        <button class="price-btn" type="button">50 UAH</button>
                    </div>
                </li>
                <li class="mobile-products-list swiper-slide"><img srcset="./images/products/roasted-2x.jpg 2x"
                     src="./images/products/roasted-1x.jpg"
                        alt="our products"  width="230" height="201">
                    <div class="products-name">
                        <h3 class="text-main-products">ROASTED FRUITS

                        </h3>
                        <p class="text-minor-products">Dark chocolate</p>
                        <button class="price-btn" type="button">66 UAH</button>
                    </div>
                </li>
                <li class="mobile-products-list swiper-slide"><img srcset="./images/products/classic-white-2x.jpg 2x"
                     src="./images/products/classic-white-1x.jpg"
                        alt="our products"  width="230" height="201">
                    <div class="products-name">
                        <h3 class="text-main-products">CLASSIC

                        </h3>
                        <p class="text-minor-products">White chocolate</p>
                        <button class="price-btn" type="button">54 UAH</button>
                    </div>
                </li>

            </ul>
            <!-- If we need pagination -->
            <div class="swiper-pagination products-pagination"></div>
        </div>


    </div>

</section>