<!-- Reiterovich Andrii -->
<section class="section section-reviews">
  <div class="container">
    <!-- <h2 class="title reiterovich-example">Hello my dear friend</h2> -->
    <h2 id="chocolate-love" class="title review-title">
      chocolate<span class="title-span"> is loved</span>
    </h2>
    <div class="swiper review-swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-list-item swiper-slide">
          <img
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/victoria@2x.jpg 2x"
            src="./images/reviews/victoria.jpg"
            alt="Victoria Dobrzhanska"
          />
          <h3 class="reviews-name">Victoria Dobrzhanska</h3>
          <p class="reviews-direction">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/nazar@2x.jpg 2x"
            src="./images/reviews/nazar.jpg"
            alt="Nazar Babenko"
          />
          <h3 class="reviews-name">Nazar Babenko</h3>
          <p class="reviews-direction">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/olena@2x.jpg 2x"
            src="./images/reviews/olena.jpg"
            alt="Olena Kampusch"
          />
          <h3 class="reviews-name">Olena Kampusch</h3>
          <p class="reviews-direction">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/natalia@2x.jpg 2x"
            src="./images/reviews/natalia.jpg"
            alt="Natalia Sus"
          />
          <h3 class="reviews-name">Natalia Sus</h3>
          <p class="reviews-direction">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/danilo@2x.jpg 2x"
            src="./images/reviews/danilo.jpg"
            alt="Danilo Nottingham"
          />
          <h3 class="reviews-name">Danilo Nottingham</h3>
          <p class="reviews-direction">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/irina@2x.jpg 2x"
            src="./images/reviews/irina.jpg"
            alt="Irina Tydnyuk"
          />
          <h3 class="reviews-name">Irina Tydnyuk</h3>
          <p class="reviews-direction">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </li>
      </ul>
      <div class="swiper-pagination review-pagination"></div>
    </div>
  </div>

 
    <button class="review-button" type="button" data-second-modal-open>Leave a review</button>
  

  <!-- модальне вікно -->
 
</section>

<!-- Обрати внимание, что стили на контейнер и на класс title приходят из файла стилей general.css  -->
<!-- Тебе нужно просто продолжать свой код html в этом контейнере -->
<!-- Класс section не убирай, я на него закинул общий верхний падинг для секций. Если тебе нужно задать ещё какие-нибудь стили - задавай на section-reviews. Я там уже в цссе сделал нижний падинг для єтого класса, просто он только в твоей секции, поєтому оставляй его -->
<!-- Перед началом работы, ознакомься, пожалуйста с файлами general.css u reset.css. В файле general я прописал общие падинги для секций. Если у твоей секции нет общих отступов, то значит, яз аписал их в твоём личном файле css -->
<!-- Общие сбросы для заголовков, списков и так далее   приходят с файла reset.css, поэтому тебе не нужно делать контейнер и общие сбросы -->
<!-- Цвет заголовка Томато приходит из твоего файла css, где ты будешь работать -->
<!-- Если я забыл указать какой-то общий сброс или есть идея по поводу общей переменной в руте - сообщи мне. Удачи =) -->
