<!-- Reiterovich Andrii -->

<section class="section">
  <div class="container">
    <h2 id="chocolate-love" class="section-title">
      chocolate<span class="title-span"> is loved</span>
    </h2>
    <div class="swiper review-swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/maksymhaidabura160x160@2x.jpg 2x"
            src="./images/reviews/maksymhaidabura80x80.jpg"
            alt="Maksym Haidabura"
          />
          <h3 class="reviews-name">Maksym Haidabura</h3>
          <h4 class="review-subtitle-name">Team lead</h4>
          <p class="reviews-direction" lang="ru">
            Говорят, что шоколад способствует работе мозга. Я каждый день съедаю шоколадку, именно поэтому я тим-лид
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/alina160x160@2x.jpg 2x"
            src="./images/reviews/alina80x80.jpg"
            alt="Alina Tarabaria"
          />
          <h3 class="reviews-name">Alina Tarabaria</h3>
          <h4 class="review-subtitle-name">Scrum master</h4>
          <p class="reviews-direction" lang="uk">
            Мені подобається теорія про те, що шоколад уповільнює процес старіння... Це може бути неправдою, але чи варто
            ризикувати?
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/reiterovychandrey160x160@2x.jpg 2x"
            src="./images/reviews/reiterovychandrey80x80.jpg"
            alt="Andrii Reiterovych"
          />
          <h3 class="reviews-name">Reiterovych Andrii</h3>
          <h4 class="review-subtitle-name">Full-stack Developer</h4>
          <p class="reviews-direction">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/taraskuhta160x160@2x.jpg 2x"
            src="./images/reviews/taraskuhta80x80.jpg"
            alt="Taras Kuhta"
          />
          <h3 class="reviews-name">Taras Kuhta</h3>
          <h4 class="review-subtitle-name">Full-stack Developer</h4>
          <p class="reviews-direction">
            I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/anastasia160x160@2x.jpg 2x"
            src="./images/reviews/anastasia80x80.jpg"
            alt="Anastasia Riazanova"
          />
          <h3 class="reviews-name">Anastasia Riazanova</h3>
          <h4 class="review-subtitle-name">Full-stack Developer</h4>
          <p class="reviews-direction">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/volodymirb160x160@2x.jpg 2x"
            src="./images/reviews/volodymirb80x80.jpg"
            alt="Volodymir Bovsunovskiy"
          />
          <h3 class="reviews-name">Volodymir Bovsunovskiy</h3>
          <h4 class="review-subtitle-name">Full-stack Developer</h4>
          <p class="reviews-direction">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </li>

          <li class="reviews-list-item swiper-slide">
            <img loading="lazy" width="80" height="80" class="reviews-photo" srcset="./images/reviews/ehorm160x160@2x.jpg 2x"
              src="./images/reviews/ehorm80x80.jpg" alt="Ehor Matveev" />
            <h3 class="reviews-name">Ehor Matveev</h3>
            <h4 class="review-subtitle-name">Full-stack Developer</h4>
            <p class="reviews-direction">
              This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the
              chocolate is good.
            </p>
          </li>


                  <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/alexeyhaidak160x160@2x.jpg 2x"
            src="./images/reviews/alexeyhaidak80x80.jpg"
            alt="Alexey Haidak"
          />
          <h3 class="reviews-name">Alexey Haidak</h3>
          <h4 class="review-subtitle-name">Full-stack Developer</h4>
          <p class="reviews-direction">
            I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
          </p>
        </li>
      </ul>
      <div class="swiper-pagination review-pagination"></div>
    </div>
  </div>

  <button
    class="button transparent-button review-button"
    type="button"
    data-second-modal-open
  >
    Leave a review
  </button>

  <!-- модальне вікно -->
</section>
