<!-- Reiterovich Andrii -->

<section class="section">
  <div class="container">
    <h2 id="chocolate-love" class="section-title">
      chocolate<span class="title-span"> is loved</span>
    </h2>
    <div class="swiper review-swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/maksym160x160@2x.jpg 2x"
            src="./images/reviews/maksym80x80.jpg"
            alt="Victoria Dobrzhanska"
          />
          <h3 class="reviews-name">Maksym Haidabura</h3>
          <h4 class="review-subtitle-name">Team lead</h4>
          <p class="reviews-direction" lang="ru">
            Если Вы видите ошибку, значит вы сейчас будете чему-то учиться
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/nazar@2x.jpg 2x"
            src="./images/reviews/nazar.jpg"
            alt="Nazar Babenko"
          />
          <h3 class="reviews-name">Nazar Babenko</h3>
          <p class="reviews-direction">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/olena@2x.jpg 2x"
            src="./images/reviews/olena.jpg"
            alt="Olena Kampusch"
          />
          <h3 class="reviews-name">Olena Kampusch</h3>
          <p class="reviews-direction">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/natalia@2x.jpg 2x"
            src="./images/reviews/natalia.jpg"
            alt="Natalia Sus"
          />
          <h3 class="reviews-name">Natalia Sus</h3>
          <p class="reviews-direction">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/danilo@2x.jpg 2x"
            src="./images/reviews/danilo.jpg"
            alt="Danilo Nottingham"
          />
          <h3 class="reviews-name">Danilo Nottingham</h3>
          <p class="reviews-direction">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>

        <li class="reviews-list-item swiper-slide">
          <img
            loading="lazy"
            width="80"
            height="80"
            class="reviews-photo"
            srcset="./images/reviews/irina@2x.jpg 2x"
            src="./images/reviews/irina.jpg"
            alt="Irina Tydnyuk"
          />
          <h3 class="reviews-name">Irina Tydnyuk</h3>
          <p class="reviews-direction">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </li>
      </ul>
      <div class="swiper-pagination review-pagination"></div>
    </div>
  </div>

  <button
    class="button transparent-button review-button"
    type="button"
    data-second-modal-open
  >
    Leave a review
  </button>

  <!-- модальне вікно -->
</section>
