<!-- Eugene Zarivniy  -->
<section class="section">
  <div class="container">
    <h2 class="title">TOP <span class="title-span">SELLERS</span></h2>
    <ul class="img-list">
      <li class="img-item pic1">
        <img class="image"
        srcset="../images/sellers/top-sellers1@2x.jpg 2x"
          src="../images/sellers/top-sellers1.jpg"
          alt="Chocolate nuts and cofee"
          width="335"
        />
        <p class="text">
          Crazy enough chocolate originates from a bean just like the coffee bean
          called Cacao. Cacao has been around for thousands of years and was first
          discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="img-item pic2">
        <img class="image"
        srcset="../images/sellers/top-sellers2@2x.jpg 2x"
          src="../images/sellers/top-sellers2.jpg"
          alt="Milk chocolate"
          width="335"
        />
      </li>
      <li class="img-item pic3">
        <img class="image"
        srcset="../images/sellers/top-sellers3@2x.jpg 2x"
          src="../images/sellers/top-sellers3.jpg"
          alt="Chocolate and candys"
          width="335"
        />
      </li>
    </ul>
    <div class="text-button">
      <p class="text-2">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="button" type="button">Buy now</button>
    </div>
  </div>