/* Anastasia */

/*Для всех вьюпортов*/


.advantages-section {
background-color: var(--primary-background-color);
}
.advantages-title {
display: none;
}
.advantages-list {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}
.advantages-section-container {
display: flex;
}
.advantage-text {
font-weight: 400;
font-size: 14px;
line-height: 1.21;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.7);
}
.advantage {
font-weight: 600;
font-size: 18px;
line-height: 1.22;
color: var(--secondary-text-color);
margin-bottom: 18px;
}
.advantages-icon-wrapper {
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 50%;
margin-bottom: 22px;
}
.advantages-icon {
fill: var(--specific-color);
}

/*Только мобилка*/
@media screen and (max-width: 767px) {
    .advantages-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .advantages-list {
        flex-direction: column;
        gap:20px;
    }
}

/*Мобилка и планшет*/
@media screen and (max-width: 1199px) {
    .advantages-item {
        margin-right: 28px;
    }
}



/*Только планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {}
.advantages-list {
    gap: 32px;
}
.advantages-item {
    width: calc((100%-32px)/2);
}

/*Планшет и десктоп*/
@media screen and (min-width: 768px) {
    .advantages-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/*Только десктоп*/
@media screen and (min-width: 1200px) {
    .advantages-list {
        gap: 70px;
    }
}