:root {
  --main-color-page: #111111;
  --secondary-text-color: #ffffff;
  --specific-color: #fd9222;

  --primary-background-color: #1e1823;
  --secondary-background-color: #ffffff;

  --icon-dark-theme: #ffffff;
  --background-price-btn: #fafafa;
  --background-modal-window: #fafafa;
  --active-modal-button-color: #fcf1e0;

  --general-transition: 250ms linear;
}

/* Подключение шрифтов */

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Regular.woff2'),
    url('../font/Montserrat-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Medium.woff2'),
    url('../font/Montserrat-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-SemiBold.woff2'),
    url('../font/Montserrat-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Bold.woff2'), url('../font/Montserrat-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-BoldItalic.woff2'),
    url('../font/Montserrat-BoldItalic.woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/*General*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--main-color-page);
  background-color: #fafafa;
}
body.modal-open {
  overflow: hidden;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar {
  width: 20px;
}

.backdrop::-webkit-scrollbar-track {
  background-color: var(--background-our-product-list);
}

.backdrop::-webkit-scrollbar-thumb {
  background-color: var(--specific-color);
  border-radius: 20px;
  border: 3px solid orange;
}

body::-webkit-scrollbar-track {
  background-color: var(--background-our-product-list);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--specific-color);
  border-radius: 20px;
  border: 3px solid orange;
}

.flip-card-back-scroll::-webkit-scrollbar {
  width: 5px;
}

.flip-card-back-scroll::-webkit-scrollbar-track {
  background: var(--background-our-product-list);
}

.flip-card-back-scroll::-webkit-scrollbar-thumb {
  background-color: var(--specific-color);
  border-radius: 20px;
  border: 3px solid orange;
}

/* Форма */
/* Маячёк ввода */
input,
textarea,
[contenteditable] {
  caret-color: var(--specific-color);
 
}



/* Section utilities */

.section-title {
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.title-span {
  color: var(--specific-color);
}

.modal-window-title {
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

/* Button utilities */

.button {
  font-weight: 600;
  border-radius: 100px;
}

.modal-button,
.small-text-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 100px;
}

.accent-button {
  color: var(--icon-dark-theme);
  background-color: var(--specific-color);
  border: none;

  transition: color var(--general-transition),
    background-color var(--general-transition);
}

.accent-button:hover,
.accent-button:focus {
  color: var(--specific-color);
  background-color: var(--active-modal-button-color);
}

.transparent-button {
  background-color: transparent;

  transition: color var(--general-transition),
    background-color var(--general-transition),
    border-color var(--general-transition);
}

@media screen and (min-width: 376px) {
  /*General*/
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/*Только мобилка*/
@media screen and (max-width: 767px) {
  /*General*/
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section:not(:first-child) {
    padding-top: 36px;
  }
  .section:not(:last-child) {
    padding-bottom: 36px;
  }

  .section-title,
  .modal-window-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .button {
    font-size: 14px;
    line-height: 1.21;
  }

  .accent-button {
    padding: 12px 28px;
  }

  .transparent-button {
    padding: 11px 27px;
  }
}

/*Планшет и десктоп*/
@media screen and (min-width: 768px) {
  .section-title,
  .modal-window-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .button {
    font-size: 18px;
    line-height: 1.22;
  }

  .accent-button {
    padding: 14px 40px;
  }

  .transparent-button {
    padding: 13px 39px;
  }
}

/*Только планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*General*/
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section:not(:first-child) {
    padding-top: 50px;
  }
  .section:not(:last-child) {
    padding-bottom: 50px;
  }
}

/*Только десктоп*/
@media screen and (min-width: 1200px) {
  /*General*/
  .container {
    width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section:not(:first-child) {
    padding-top: 64px;
  }
  .section:not(:last-child) {
    padding-bottom: 64px;
  }

  .section:first-child {
    padding-bottom: 36px;
  }
  .section:nth-child(2) {
    padding-top: 36px;
  }
}
