
/*Header*/

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  display: flex;
  align-items: center;
  column-gap: 4px;
  letter-spacing: -0.03em;
  font-weight: 700;
  font-style: normal;
  color: var(--main-color-page);
}

.header-simply-logotype {
  font-style: italic;
}

.chocolate-icon {
  fill: transparent;
  stroke: var(--specific-color);

}


/* Только мобилка */


@media screen and (max-width: 767px) {

  /*Header*/
  .page-header {
    padding-top: 20px;
    padding-bottom: 14px;
  }

  /*Mobile menu*/
  .close-mobile-menu {
    top: 20px;
    right: 20px;

  }

  .mobile-menu-container {
    padding-right: 0;
  }

  .small-container {
    padding: 136px 46px 20px 20px;
    width: 220px;
  }

  .mobile-nav-list {
    margin-left: 30px;
  }

  .mobile-menu-link {
    font-weight: 500;
  }
}


/* Мобилка и планшет*/

@media screen and (max-width: 1199px) {
  /*Header*/

  .header-nav-list {
    display: none;
  }

  .logotype {
    font-size: 14px;
    line-height: 1.29;
  }

  .chocolate-icon {
    width: 21px;
    height: 21px;
  }

  .header-social-list {
    display: none;
  }

  .burger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

  }

  .icon-burger {
    stroke: var(--main-color-page);
  }

  /*Mobile-menu*/
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: transparent;
    transform: translateX(100%);
    transition: transform var(--general-transition);
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu.is-open {
    transform: translateX(0);
  }

  .mobile-menu-container {
    position: relative;
    height: 100%;

  }

  .small-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    background-color: var(--primary-background-color);
    margin-left: auto;
  }

  .close-mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

    position: absolute;
    color: var(--icon-dark-theme);
  }

  .close-mobile-menu:hover,
  .close-mobile-menu:focus {
    color: var(--specific-color);
  }


  .icon-close {
    stroke: currentColor;
  }

  .mobile-nav-list {

    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .mobile-menu-link {

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--icon-dark-theme);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--specific-color);
  }


  .mobile-social-list {
    display: flex;
    column-gap: 18px;

  }

  .mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-dark-theme);
    transition: color var(--general-transition);
  }

  .mobile-social-link:hover,
  .mobile-social-link:focus {
    color: var(--specific-color);
  }

  .mobile-social-icon {
    fill: transparent;
    stroke: currentColor;
  }
}


/*Планшет и десктоп*/

@media screen and (min-width: 768px) {

  /*Header*/
  .page-header {
    padding-top: 24px;
  }
}


/*Только планшет */


@media screen and (min-width: 768px) and (max-width: 1199px) {

  /*Header*/
  .page-header {
    padding-bottom: 24px;
  }

  .icon-burger {
    width: 32px;
    height: 32px;
  }

  /*Mobile menu*/
  .mobile-menu-container {
    padding-right: 0;
  }

  .close-mobile-menu {
    top: 24px;
    right: 32px;
  }

  .icon-close {
    width: 32px;
    height: 32px;
  }

  .small-container {
    padding: 166px 81px 24px 32px;
    width: 290px;
  }

  .mobile-nav-list {
    margin-left: 53px;
  }

  .mobile-menu-link {
    font-weight: 600;
  }

  .mobile-social-icon {
    width: 24px;
    height: 24px;
  }
}

/*Только десктоп*/


@media screen and (min-width: 1200px) {

  /*Header*/
  /*Mobile-menu*/
  .mobile-menu {
    display: none;
  }

  .page-header {
    padding-bottom: 32px
  }

  .header-nav {
    display: flex;
    column-gap: 188px;
  }

  .header-nav-list {
    display: flex;
    column-gap: 24px;
  }

  .logotype {
    font-size: 18px;
    line-height: 1.11;
  }

  .header-nav-link {
    color: var(--main-color-page);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color var(--general-transition);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--specific-color);
  }

  .burger-button {
    display: none;
  }

  .header-social-list {
    display: flex;
    column-gap: 18px;
  }

  .header-social-link {
    color: var(--main-color-page);
    transition: color var(--general-transition);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-social-link:hover,
  .header-social-link:focus {
    color: var(--specific-color);
  }

  .header-social-icon {
    stroke: currentColor;
    fill: transparent;
  }
}