/* Yakiv  */

/* Hero */

.hero-container {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--primary-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

/* bg mobile */
@media screen and (max-width: 767px) {
  .hero-container {
    padding-top: 395px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  @media screen and (max-device-pixel-ratio: 1.99),
  screen and (-webkit-max-device-pixel-ratio: 1.99),
  screen and (max-resolution: 191dpi),
  screen and (max-resolution: 1.99dppx) {
    .hero-container {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%),
        url('../images/hero/bg-mobile.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-device-pixel-ratio: 2.99),
  screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99),
  screen and (min-resolution: 192dpi) and (max-resolution: 287dpi),
  screen and (min-resolution: 2dppx) and (max-resolution: 2.99dppx) {
    .hero-container {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%),
        url('../images/hero/bg-mobile@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('../images/hero/bg-mobile@3x.jpg');
    }
  }
}

/* bg tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-container {
    padding-top: 671px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  @media screen and (max-device-pixel-ratio: 1.99),
  screen and (-webkit-max-device-pixel-ratio: 1.99),
  screen and (max-resolution: 191dpi),
  screen and (max-resolution: 1.99dppx) {
    .hero-container {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%),
        url('../images/hero/bg-tablet.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-device-pixel-ratio: 2.99),
  screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99),
  screen and (min-resolution: 192dpi) and (max-resolution: 287dpi),
  screen and (min-resolution: 2dppx) and (max-resolution: 2.99dppx) {
    .hero-container {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%),
        url('../images/hero/bg-tablet@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('../images/hero/bg-tablet@3x.jpg');
    }
  }
}

/* bg desktop */
@media screen and (min-width: 1200px) {
  .hero-container {
    padding-top: 381px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  @media screen and (max-device-pixel-ratio: 1.99),
  screen and (-webkit-max-device-pixel-ratio: 1.99),
  screen and (max-resolution: 191dpi),
  screen and (max-resolution: 1.99dppx) {
    .hero-container {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%),
        url('../images/hero/bg-desktop.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-device-pixel-ratio: 2.99),
  screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99),
  screen and (min-resolution: 192dpi) and (max-resolution: 287dpi),
  screen and (min-resolution: 2dppx) and (max-resolution: 2.99dppx) {
    .hero-container {
      background-image: linear-gradient(180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%),
        url('../images/hero/bg-desktop@2x.jpg');
    }
  }

  
  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('../images/hero/bg-desktop@3x.jpg');
    }
  }
}

.hero-title {
  margin-bottom: 32px;

  font-weight: 500;
  letter-spacing: -0.03em;
  color: var(--secondary-text-color);
}

.hero-nav-list {
  display: flex;
  align-items: center;
}

.btn-buy-now,
.btn-how-its-made {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.btn-buy-now {
  transition: color var(--general-transition),
    background-color var(--general-transition);
}

.btn-buy-now:hover,
.btn-buy-now:focus {
  color: var(--specific-color);
  background-color:  var(--active-modal-button-color);
}

.btn-how-its-made {
  display: inline-block;

  color: var(--secondary-text-color);
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--icon-dark-theme);

  transition: color var(--general-transition),
    background-color var(--general-transition),
    border-color var(--general-transition);
}

.btn-how-its-made:hover,
.btn-how-its-made:focus {
  color: var(--specific-color);
  background-color: var(--icon-dark-theme);
  border-color: var(--specific-color);
}

.btn-scroll-down {
  display: flex;
  align-items: center;

  padding: 0;

  font-weight: 500;
  letter-spacing: -0.03em;
  color: var(--icon-dark-theme);

  background-color: transparent;
  border: none;

  transition: color var(--general-transition);
}

.icon-arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: currentColor;
}

.icon-arrow {
  fill: var(--specific-color);
}

.btn-scroll-down:hover,
.btn-scroll-down:focus {
  color: var(--specific-color);
}

.btn-scroll-down:hover .icon-arrow,
.btn-scroll-down:focus .icon-arrow {
  fill: var(--icon-dark-theme);
}

/* mobile */
@media screen and (max-width: 767px) {
  .hero-section {
    padding-bottom: 66px;
  }
  .hero-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .hero-nav-list {
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 32px;
  }

  .btn-buy-now {
    padding: 12px 28px;
  }

  .btn-how-its-made {
    padding: 11px 27px;
  }

  .btn-scroll-down {
    gap: 12px;

    font-size: 12px;
    line-height: 1.17;
  }

  .icon-arrow-wrapper {
    width: 28px;
    height: 28px;
  }

  .icon-arrow {
    width: 16px;
    height: 16px;
  }
}

/* tablet and desktop */
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 484px;

    font-size: 28px;
    line-height: 1.21;
  }

  .hero-nav-item:first-child {
    margin-right: 14px;
  }

  .hero-nav-item:last-child {
    margin-left: auto;
  }

  .btn-buy-now {
    padding: 14px 40px;
  }

  .btn-how-its-made {
    padding: 13px 39px;
  }

  .btn-scroll-down {
    gap: 14px;

    font-size: 14px;
    line-height: 1.29;
  }

  .icon-arrow-wrapper {
    width: 38px;
    height: 38px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-section {
    padding-bottom: 59px;
  }
}

@media screen and (min-width: 1199px) {
  .hero-section {
    padding-bottom: 72px;
  }
}