/* Alexander Chenykh */

/*Для всех вьюпортов*/

.howmade-container-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.howmade-title {
  text-align: center;
}
.howmade-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.howmade-container-list {
  background: var(--secondary-background-color);
  border-radius: 15px;
}

.howmade-list {
  list-style: disc;
  display: flex;
  flex-direction: column;
  padding-left: 16px;

}
.howmade-list-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/*Только мобилка*/
@media screen and (max-width: 767px) {
  .howmade-subtitle {
    margin-top: 20px;
  
  }

  .howmade-container-list {
    padding: 20px 14px;
  }

  
  .howmade-list {
    margin-top: 20px;
   
  }

  .howmade-title {
    margin-bottom: 32px;
  }

  .howmade-container-img {
    width: 335px;
    height: 500px;


  }

 @media(min-device-pixel-ratio: 1) and (max-divice-pixel-ratio: 1.99),
 (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 1.99),
 (min-resolution: 96dpi) and (max-resolutin: 191dpi),
 (min-resolution: 1dppx) and (max-resolutin: 1.99dppx) {
  .howmade-container-img {
        background-image: linear-gradient(0deg,
              rgba(0, 0, 0, 0.4),
              rgba(0, 0, 0, 0.4)),
            url(../images/howmade/howmade-mobile.jpg);
  }
}
  @media(min-device-pixel-ratio: 2) and (max-divice-pixel-ratio: 2.99),
   (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99),
  (min-resolution: 192dpi) and (max-resolutin: 287dpi),
  (min-resolution: 2dppx) and (max-resolutin: 2.99dppx) {
    .howmade-container-img {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url(../images/howmade/howmade-mobile@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .howmade-container-img {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url(../images/howmade/howmade-mobile@3x.jpg);
    }
  }
}

/*Мобилка и планшет*/
@media screen and (max-width: 1199px) {
 
  .howmade-container-list {
    margin-top: 20px;
  }

  .howmade-list {
    row-gap: 18px;
  }
}

/*Только планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {

  .howmade-container {
    padding-left: 45px;
    padding-right: 45px;
  }
 
  .howmade-subtitle {
    max-width: 350px;
  }
.howmade-list {
  padding-right: 70px;
}

 @media(min-device-pixel-ratio: 1) and (max-divice-pixel-ratio: 1.99),
 (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 1.99),
 (min-resolution: 96dpi) and (max-resolutin: 191dpi),
 (min-resolution: 1dppx) and (max-resolutin: 1.99dppx) {
   .howmade-container-img {
     background-image: linear-gradient(0deg,
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.4)),
       url(../images/howmade/howmade-tablet.jpg);
   }
 }

 @media(min-device-pixel-ratio: 2) and (max-divice-pixel-ratio: 2.99),
 (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99),
 (min-resolution: 192dpi) and (max-resolutin: 287dpi),
 (min-resolution: 2dppx) and (max-resolutin: 2.99dppx) {
   .howmade-container-img {
     background-image: linear-gradient(0deg,
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.4)),
       url(../images/howmade/howmade-tablet@2x.jpg);
   }
 }

 @media (min-device-pixel-ratio: 3),
 (-webkit-min-device-pixel-ratio: 3),
 (min-resolution: 288dpi),
 (min-resolution: 3dppx) {
   .howmade-container-img {
     background-image: linear-gradient(0deg,
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.4)),
       url(../images/howmade/howmade-tablet@3x.jpg);
   }
 }
}

/*Планшет и десктоп*/
@media screen and (min-width: 768px) {
  .howmade-title {
    margin-bottom: 50px;
  }
    .howmade-container-list {
      padding: 32px;
    }
    .howmade-container-img {
      height: 400px;
    }
   
    .howmade-subtitle {
      margin-bottom: 28px;
    }

}

/*Только десктоп*/
@media screen and (min-width: 1200px) {
  .howmade-container {
    display: flex;
    column-gap: 20px;
  }

  .howmade-container-list {
    max-width: 516px;
  }
 
.howmade-subtitle {
  max-width: 350px;
}

  .howmade-list {
    row-gap: 24px;
  }

  .howmade-list-item {
    max-width: 425px;
  }
  .howmade-container-img {
    width: 600px;
    


  }

 @media(min-device-pixel-ratio: 1) and (max-divice-pixel-ratio: 1.99),
 (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 1.99),
 (min-resolution: 96dpi) and (max-resolutin: 191dpi),
 (min-resolution: 1dppx) and (max-resolutin: 1.99dppx) {
   .howmade-container-img {
    background-image: linear-gradient(0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)),
        url(../images/howmade/howmade-desktop.jpg);
   }
 }

 @media(min-device-pixel-ratio: 2) and (max-divice-pixel-ratio: 2.99),
 (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99),
 (min-resolution: 192dpi) and (max-resolutin: 287dpi),
 (min-resolution: 2dppx) and (max-resolutin: 2.99dppx) {
   .howmade-container-img {
     background-image: linear-gradient(0deg,
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.4)),
       url(../images/howmade/howmade-desktop@2x.jpg);
   }
 }

 @media (min-device-pixel-ratio: 3),
 (-webkit-min-device-pixel-ratio: 3),
 (min-resolution: 288dpi),
 (min-resolution: 3dppx) {
   .howmade-container-img {
     background-image: linear-gradient(0deg,
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.4)),
       url(../images/howmade/howmade-desktop@3x.jpg);
   }
 }
}
