/* Alexander Chenykh */

/*Для всех вьюпортов*/
.howmade-title {
  text-align: center;
}
.howmade-container-list {
  background: #ffffff;
  border-radius: 15px;
  margin: auto;
}
.howmade-subtitle {
  text-align: justify;
  flex: none;
}

/*Только мобилка*/
@media screen and (max-width: 767px) {
}

/*Мобилка и планшет*/
@media screen and (max-width: 1199px) {
}

/*Только планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
}

/*Планшет и десктоп*/
@media screen and (min-width: 768px) {
}

/*Только десктоп*/
@media screen and (min-width: 1200px) {
}
