/* Registration Modal Window */

@media screen and (max-width: 767px) {
  .registration-modal-window {
    width: 311px;
    padding: 32px 24px;
  }
}

@media screen and (min-width: 768px) {
  .registration-modal-window {
    width: 517px;
    padding: 48px;
  }
}

@media screen and (max-width: 767px) and (max-height: 805px) {
  .registration-modal-window {
    height: 96vh;
    overflow: auto;
  }
}

@media screen and (min-width: 768px) and (max-height: 920px) {
  .registration-modal-window {
    height: 96vh;
    overflow: auto;
  }
}

/* Login Modal Window */

@media screen and (max-width: 767px) {
  .login-modal-window {
    width: 311px;
    padding: 32px 24px;
  }
}

@media screen and (min-width: 768px) {
  .login-modal-window {
    width: 517px;
    padding: 48px;
  }
}

@media screen and (max-width: 767px) and (max-height: 413px) {
  .login-modal-window {
    height: 96vh;
    overflow: auto;
  }
}

@media screen and (min-width: 768px) and (max-height: 527px) {
  .login-modal-window {
    height: 96vh;
    overflow: auto;
  }
}

.registration-login-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.login-registration-button {
  display: block;
}

.input-checkbox-wrapper {
  display: flex;
  align-items: center;
}
.checkbox-wrapper {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.5);
  border-radius: 4px;
}

.checkbox-wrapper-registration {
  margin-right: 14px;
}

.checkbox-wrapper-login {
  margin-right: 8px;
}
.accept-icon {
  stroke: transparent;
}

.checkbox:checked + .input-checkbox-wrapper .checkbox-wrapper {
  border: none;
  background-color: var(--specific-color);
}

.checkbox:checked + .input-checkbox-wrapper .accept-icon {
  stroke: var(--icon-dark-theme);
}

.policy-text {
  margin-bottom: 0;
}

.link-policy {
  /* display: block; */
  color: var(--specific-color);
}

@media screen and (max-width: 767px) {
  .registration-login-button-container {
    column-gap: 12px;
  }
}

@media screen and (min-width: 768px) {
  .registration-login-button-container {
    column-gap: 64px;
  }
}

.password {
  position: relative;
  display: flex;
  align-items: center;
}

.password-control,
.password-control-repit,
.password-control-login {
  position: absolute;
  top: 50%;
  right: 6px;
  display: inline-block;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: url(../images/eye.svg) 0 0 no-repeat;
}

.password-control.view,
.password-control-repit.view,
.password-control-login.view {
  background: url(../images/eye-blocked.svg) 0 0 no-repeat;
}
