/* Registration Modal Window */

@media screen and (max-width: 767px) {
  .registration-modal {
    padding: 32px 24px;
  }
}

@media screen and (min-width: 768px) {
  .registration-modal {
    width: 517px;
    padding: 48px;
  }
}

@media screen and (max-width: 767px) and (max-height: 805px) {
  .registration-modal {
    height: 96%;
    overflow: auto;
  }
}

@media screen and (min-width: 768px) and (max-height: 920px) {
  .registration-modal {
    height: 96%;
    overflow: auto;
  }
}

/* Login Modal Window */

@media screen and (max-width: 767px) {
  .login-modal {
    padding: 32px 24px;
  }
}

@media screen and (min-width: 768px) {
  .login-modal {
    width: 517px;
    padding: 48px;
  }
}

@media screen and (max-width: 767px) and (max-height: 413px) {
  .login-modal {
    height: 96%;
    overflow: auto;
  }
}

@media screen and (min-width: 768px) and (max-height: 527px) {
  .login-modal {
    height: 96%;
    overflow: auto;
  }
}

.modal-reg-title,
.modal-log-title {
  margin-bottom: 32px;
  text-align: center;
}

.auth-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.log-reg-btn {
  display: block;
}

.input-checkbox-wrapper {
  display: flex;
  align-items: center;
}
.checkbox-wrapper {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.5);
  border-radius: 4px;
}

.checkbox-wrapper-registration {
  margin-right: 14px;
}

.policy-wrapper,
.remember-me-wrapper {
  margin-bottom: 48px;
}

.policy-label,
.remember-me-label {
  margin-bottom: 0;
}

.checkbox-wrapper-login {
  margin-right: 8px;
}
.accept-icon {
  stroke: transparent;
}

.checkbox:checked + .input-checkbox-wrapper .checkbox-wrapper {
  border: none;
  background-color: var(--accent-color);
}

.checkbox:checked + .input-checkbox-wrapper .accept-icon {
  stroke: var(--secondary-text-color);
}

.link-policy {
  /* display: block; */
  color: var(--accent-color);
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input:first-child {
  margin-bottom: 14px;
}

.reg-password-control,
.reg-password-control-confirm,
.log-password-control {
  position: absolute;
  top: 50%;
  right: 6px;

  display: inline-block;
  width: 20px;
  height: 20px;

  background: url(../images/eye.svg) 0 0 no-repeat;
  border: none;
  transform: translate(-50%, -50%);
}

.reg-password-control.view,
.reg-password-control-confirm.view,
.log-password-control.view {
  background: url(../images/eye-blocked.svg) 0 0 no-repeat;
}
