/* Alina */

/*Для всех вьюпортов*/


.buy-now-modal {
    background-color: #FAFAFA;
    border-radius: 15px;
}

.buy-now-modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.buy-now-modal-close-icon {
    stroke: #111111;
}

.buy-now-title {
    text-align: center;
    margin-bottom: 32px;
}

.chocolate-weight-container {
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

.chocolate-weight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #111111;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.country-code-container {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
}

.country-code::after {
    display: block;
    content: '';
    height: 100%;
    width: 1.5px;
    background-color: rgba(64, 64, 64, 0.3);
    position: absolute;
    color: rgba(64, 64, 64, 0.3);
    bottom: 0;
}

.country-code-wrapper,
.user-card-container {
    position: relative;
    display: flex;
}

.icon-master-card {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.user-comment {
    resize: none;
}

.user-email,
.user-tel,
.user-card,
.user-comment {
    width: 100%;
}

.contact-form-field-desk {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 8px;
}

.user-email,
.user-tel,
.user-card,
.user-comment,
.user-name,
.user-surname {
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    background-color: transparent;
    outline: transparent;
}

.user-name,
.user-surname,
.user-email,
.user-tel,
.user-card,
.user-comment {
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.buy-now-form-field-wrapper {
    display: block;
    margin-bottom: 18px;
}

.country-code {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #000000;
}

/*Только мобилка*/
@media screen and (max-width: 767px) {
    .buy-now-modal {
        width: 311px;
        min-height: 994px;
        padding: 32px 24px;
    }

    .buy-now-modal-close-btn {
        width: 24px;
        height: 24px;
        top: 14px;
        right: 14px;
    }

    .buy-now-modal-close-icon {
        width: 28px;
        height: 28px;
    }

    .buy-now-title {
        font-size: 20px;
        line-height: 1.2;
    }

    .chocolate-weight-container {
        height: 85px;
        padding: 8px 16px;
        justify-content: space-between;
        align-items: center;
    }

    .buy-now-modal-img {
        width: 84px;
        height: 69px;
    }

    .chocolate-weight {
        width: 70px;
        height: 29px;
    }

    .buy-now-modal-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 32px;
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-card,
    .user-tel {
        padding-top: 14px;
        padding-bottom: 14px;
        height: 45px;
    }

    .user-name,
    .user-surname {
        width: 100%;
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-card,
    .user-comment {
        padding-left: 18px;
    }

    .user-card {
        padding-right: 46px;
    }

    .user-tel {
        padding-left: 106px;
    }

    .user-name {
        margin-bottom: 14px;
    }

    .contact-form-field-desk {
        font-size: 12px;
        line-height: 1.17;
    }

    .icon-flag {
        width: 24px;
        height: 18px;
    }

    .country-code-container {
        gap: 8px;
        left: 18px;
    }

    .country-code {
        font-size: 14px;
        line-height: 1.21;
    }

    .icon-master-card {
        width: 32px;
        height: 21px;
        right: 14px;
    }

    .user-comment {
        height: 91px;
        padding: 14px 18px;
        margin-bottom: 18px;
    }

    .buy-now-modal-submit-btn {
        padding: 12px 28px;
    }

    .country-code::after {
        right: -8px;
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-tel,
    .user-card,
    .user-comment {
        font-size: 14px;
        line-height: 1.21;
    }
}

/*Мобилка и планшет*/
@media screen and (max-width: 1199px) {}


/*Только планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {}

/*Планшет и десктоп*/
@media screen and (min-width: 768px) {
    .buy-now-modal {
        width: 609px;
        min-height: 1058px;
        padding: 48px;
    }

    .buy-now-modal-close-btn {
        width: 28px;
        height: 28px;
        top: 24px;
        right: 24px;

    }

    .buy-now-modal-close-icon {
        width: 28px;
        height: 28px;
    }

    .buy-now-modal-list {
        display: flex;
        gap: 16px;
        margin-bottom: 40px;
    }

    .buy-now-modal-item {
        width: calc((100% - 32px) / 3);
    }

    .buy-now-modal-img {
        width: 120px;
        height: 107px;
        margin-right: auto;
        margin-left: auto;
    }

    .chocolate-weight-container {
        flex-direction: column;
        justify-content: center;
        gap: 14px;
        height: 196px;
    }

    .chocolate-weight {
        width: 96px;
        height: 33px;
        margin-right: auto;
        margin-left: auto;
    }

    .contact-form-input-container {
        display: flex;
        gap: 21px;
    }

    .user-name,
    .user-surname {
        width: calc((100% - 21px) / 2);
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-card,
    .user-tel {
        padding-top: 22px;
        padding-bottom: 22px;
        height: 66px;
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-card,
    .user-comment {
        padding-left: 24px;
    }

    .user-card {
        padding-right: 54px;
    }

    .user-tel {
        padding-left: 177px;
    }

    .icon-flag {
        width: 32px;
        height: 24px;
    }

    .country-code-container {
        gap: 18px;
        left: 24px;
    }

    .country-code::after {
        right: -32px;
    }

    .country-code {
        font-size: 18px;
        line-height: 1.22;
    }

    .icon-master-card {
        width: 44px;
        height: 30px;
        right: 24px;
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-tel,
    .user-card,
    .user-comment {
        font-size: 18px;
        line-height: 1.22;
    }

    .user-comment {
        height: 137px;
        padding: 24px 22px;
        margin-bottom: 18px;
    }

    .buy-now-modal-submit-btn {
        padding: 14px 40px;
    }
}

/*Только десктоп*/
@media screen and (min-width: 1200px) {

    .buy-now-modal-img:hover,
    .buy-now-modal-img:focus {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}