/* На кнопку вешаем один из атрибутов: data-first-modal-open, data-second-modal-open, data-third-modal-open */
/* На бэкрод вешаем один из атрибутов : data-first-modal, data-second-modal, data-third-modal */
/* На кнопку закрітия вешаем один из атрибутов: data-first-modal-close, data-second-modal-close, data-third-modal-close */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
  overflow: auto;
  z-index: 2;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-modal-window);
  border-radius: 15px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .modal-close-btn {
    top: 15px;
    right: 14px;
  }
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    top: 24px;
    right: 24px;
  }
}
