/* Position */

@media screen and (max-width: 767px) and (max-height: 500px) {
  .review-modal {
    height: 96%;
    overflow: auto;
  }
}

@media screen and (min-width: 768px) and (max-height: 652px) {
  .review-modal {
    height: 96%;
    overflow: auto;
  }
}

@media screen and (max-width: 767px) {
  .review-modal {
    padding: 32px 24px 32px 24px;
  }

  .modal-review-title {
    margin-bottom: 32px;
    max-width: 255px;
    display: flex;
    flex-direction: column;
  }

  .review-form-field-wrapper {
    margin-bottom: 14px;
  }

  .review-form-field-wrapper:last-of-type {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 768px) {
  .review-modal {
    width: 517px;
    padding: 40px;
  }

  .modal-review-title {
    width: 298px;
    margin-bottom: 40px;
  }

  .review-form-field-wrapper {
    margin-bottom: 18px;
  }
}
