/* Alina */

/*Для всех вьюпортов*/


.buy-now-modal {
    background-color: var(--background-price-btn);
    border-radius: 15px;
    transform: translate(-50%, -25%);
}


/* Close btn */
.buy-now-modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.buy-now-modal-close-icon {
    stroke: #111111;
}

/* Close btn */


.buy-now-title {
    text-align: center;
    margin-bottom: 32px;
}


/* Form - chokolate weight*/
.buy-now-modal-chocolate-weight-container {
    display: flex;
}

.buy-now-modal-radio:checked+.chocolate-weight-container {
    border: 3px solid var(--specific-color);
}

.buy-now-modal-radio:checked+.chocolate-weight-container>.chocolate-weight {
    background-color: var(--specific-color);
    color: #ffffff;
}

.buy-now-modal-radio {
    appearance: none;
    position: absolute;
}

.chocolate-weight-container {
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

.chocolate-weight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--main-color-page);
    background: var(--background-price-btn);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
}


/* Form - chokolate weight*/


/* Form - user information*/
.buy-now-form-field-wrapper {
    display: block;
    margin-bottom: 18px;
}

.contact-form-field-desk {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 8px;
}

.user-name,
.user-surname {
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
}

.user-name,
.user-surname,
.user-email,
.user-tel,
.user-card,
.user-comment {
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    background-color: transparent;
    outline: transparent;
}

.user-name,
.user-surname,
.user-email,
.user-tel,
.user-card,
.user-comment {
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    transition: border-color;
}

.user-name:focus,
.user-surname:focus,
.user-email:focus,
.user-tel:focus,
.user-card:focus,
.user-comment:focus {
    border-color: var(--specific-color);
}

.user-email,
.user-tel,
.user-card,
.user-comment {
    width: 100%;
}

.country-code-container {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
}

.country-code-wrapper,
.user-card-container {
    position: relative;
    display: flex;
}

.country-code {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #000000;
}

.country-code::after {
    display: block;
    content: '';
    height: 100%;
    width: 1.5px;
    background-color: rgba(64, 64, 64, 0.3);
    position: absolute;
    color: rgba(64, 64, 64, 0.3);
    bottom: 0;
}

.icon-master-card {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.user-comment {
    resize: none;
}


/* Form - user information*/



/*Только мобилка*/
@media screen and (max-width: 767px) {
    .buy-now-modal {
        width: 311px;
        min-height: 994px;
        padding: 32px 24px;
    }

    /* Close btn */
    .buy-now-modal-close-btn {
        width: 24px;
        height: 24px;
        top: 14px;
        right: 14px;
    }

    .buy-now-modal-close-icon {
        width: 28px;
        height: 28px;
    }

    /* Close btn */


    .buy-now-title {
        font-size: 20px;
        line-height: 1.2;
    }


    /* Form - chokolate weight*/
    .buy-now-modal-chocolate-weight-container {
        flex-direction: column;
        gap: 8px;
        margin-bottom: 32px;
    }

    .chocolate-weight-container {
        height: 85px;
        padding: 8px 16px;
        justify-content: space-between;
        align-items: center;
    }

    .buy-now-modal-img {
        width: 84px;
        height: 69px;
    }

    .chocolate-weight {
        width: 70px;
        height: 29px;
    }



    /* Form - chokolate weight*/


    /* Form - user information*/
    .contact-form-field-desk {
        font-size: 12px;
        line-height: 1.17;
    }

    .user-name,
    .user-surname {
        width: 100%;
    }

    .user-name {
        margin-bottom: 14px;
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-tel,
    .user-card,
    .user-comment {
        font-size: 14px;
        line-height: 1.21;
        color: var(--main-color-page);
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-tel,
    .user-card {
        height: 45px;
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-comment {
        padding: 14px 18px;
    }

    .user-email,
    .user-card,
    .user-comment {
        filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    }

    .user-tel {
        padding: 14px 18px 14px 106px;
    }

    .country-code-container {
        gap: 8px;
        left: 18px;
    }

    .country-code {
        font-size: 14px;
    }

    .country-code::after {
        right: -8px;
    }

    .icon-flag {
        width: 24px;
        height: 18px;
    }

    .user-card {
        padding: 14px 46px 14px 18px;
    }

    .icon-master-card {
        width: 32px;
        height: 21px;
        right: 14px;
    }

    .user-comment {
        height: 91px;
        margin-bottom: 18px;
    }

    /* Form - user information*/
    .buy-now-modal-submit-btn {
        padding: 12px 28px;
    }

}

/*Мобилка и планшет*/
@media screen and (max-width: 1199px) {}


/*Только планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {}

/*Планшет и десктоп*/
@media screen and (min-width: 768px) {

    .buy-now-modal {
        width: 609px;
        min-height: 1058px;
        padding: 48px;
    }

    /* Close btn */
    .buy-now-modal-close-btn {
        width: 28px;
        height: 28px;
        top: 24px;
        right: 24px;
    }

    .buy-now-modal-close-icon {
        width: 28px;
        height: 28px;
    }

    /* Close btn */


    /* Form - chokolate weight*/
    .buy-now-modal-chocolate-weight-container {
        gap: 16px;
        margin-bottom: 40px;
        width: 512px;
    }

    .buy-now-form-chocolate-weight-wrapper {
        width: calc((100% - 32px) / 3);
    }

    .chocolate-weight-container {
        flex-direction: column;
        justify-content: center;
        gap: 14px;
        height: 196px;
    }

    .buy-now-modal-img {
        width: 120px;
        height: 107px;
        margin-right: auto;
        margin-left: auto;
    }

    .chocolate-weight {
        width: 96px;
        height: 33px;
        margin-right: auto;
        margin-left: auto;
    }


    /* Form - chokolate weight*/

    /* Form - user information*/
    .contact-form-input-container {
        display: flex;
        gap: 21px;
    }

    .user-name,
    .user-surname {
        width: calc((100% - 21px) / 2);
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-tel,
    .user-card,
    .user-comment {
        font-size: 18px;
        line-height: 1.22;
        color: var(--main-color-page);
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-tel,
    .user-card {
        height: 66px;
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-comment {
        padding: 14px 18px;
    }

    .user-name,
    .user-surname,
    .user-email,
    .user-comment {
        padding: 24px 22px;
    }

    .country-code-container {
        gap: 18px;
        left: 24px;
    }

    .country-code {
        font-size: 18px;
    }

    .country-code::after {
        right: -32px;
    }

    .user-tel {
        padding: 24px 22px 24px 177px;
    }

    .icon-flag {
        width: 32px;
        height: 24px;
    }

    .user-card {
        padding: 24px 54px 24px 22px;
    }

    .icon-master-card {
        width: 44px;
        height: 30px;
        right: 24px;
    }

    .user-comment {
        height: 137px;
        margin-bottom: 18px;
    }

    /* Form - user information*/

    .buy-now-modal-submit-btn {
        padding: 14px 40px;
    }

}

/*Только десктоп*/
@media screen and (min-width: 1200px) {

    .buy-now-modal-img:hover,
    .buy-now-modal-img:focus {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}