/* На кнопку вешаем один из атрибутов: data-first-modal-open, data-second-modal-open, data-third-modal-open */
/* На бэкрод вешаем один из атрибутов : data-first-modal, data-second-modal, data-third-modal */
/* На кнопку закрітия вешаем один из атрибутов: data-first-modal-close, data-second-modal-close, data-third-modal-close */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
  overflow: auto;

  transition: opacity var(--general-transition),
    visibility var(--general-transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--primary-bg-color);
  border-radius: 15px;
}

@media screen and (max-width: 311px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 311px) {
  .modal {
    width: 311px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Modal close button */

.modal-close-btn {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
}

.modal-close-icon {
  stroke: var(--primary-text-color);

  transition: stroke var(--general-transition);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  stroke: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .modal-close-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .modal-close-icon {
    width: 28px;
    height: 28px;
  }
}

/* Modal scroll */

.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background-color: var(--background-our-product-list);
}

.modal::-webkit-scrollbar-thumb {
  background-color: rgba(253, 146, 34, 0.7);
  border-radius: 25px;
}

@media screen and (max-width: 767px) {
  .modal-close-btn {
    top: 15px;
    right: 14px;
  }
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    top: 24px;
    right: 24px;
  }
}

/* Form */

.form-field-wrapper {
  margin-bottom: 18px;
}

.form-label,
.form-input,
.form-textarea {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--field-text-color);
}

.form-input,
.form-textarea {
  width: 100%;

  background-color: transparent;
  outline: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  transition: border-color var(--general-transition);
}

.form-input:focus,
.form-textarea:focus {
  border-color: var(--accent-color);
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: var(--field-placeholder-color);
}

.form-label {
  display: block;
  margin-bottom: 8px;
}

.form-textarea {
  resize: none;
}

.icon-flag {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.country-code-wrapper {
  position: relative;
  display: flex;
}

.country-code-wrapper::before {
  display: block;
  content: '+380';
  position: absolute;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.country-code-wrapper::after {
  display: block;
  content: '';
  background-color: var(--field-placeholder-color);
  position: absolute;
}

@media screen and (max-width: 767px) {
  .form-label {
    font-size: 12px;
    line-height: 1.17;
  }

  .form-input,
  .form-textarea {
    padding-left: 18px;
    padding-right: 18px;

    font-size: 14px;
    line-height: 1.21;

    border-radius: 8px;
  }

  .form-input {
    height: 45px;
  }

  .form-textarea {
    height: 91px;
    padding-top: 14px;
  }

  .user-name,
  .user-surname {
    width: 100%;
  }

  .user-name {
    margin-bottom: 14px;
  }

  .icon-flag {
    width: 24px;
    height: 24px;
    left: 18px;
  }

  .country-code-wrapper::before {
    font-size: 14px;
    left: 50px;
    top: 14.5px;
  }

  .country-code-wrapper::after {
    left: 92px;
    top: 10px;
    height: 25px;
    width: 1.5px;
  }

  .user-phone-input {
    padding-left: 106px;
  }
}

@media screen and (min-width: 768px) {
  .form-label {
    font-size: 14px;
    line-height: 1.29;
  }

  .form-input,
  .form-textarea {
    padding-left: 24px;
    padding-right: 24px;

    font-size: 18px;
    line-height: 1.22;

    border-radius: 13px;
  }

  .form-input {
    height: 66px;
  }

  .form-textarea {
    height: 137px;
    padding-top: 22px;
  }

  .personal-info-input-wrapper {
    display: flex;
    gap: 21px;
  }

  .user-name,
  .user-surname {
    width: calc((100% - 21px) / 2);
  }

  .icon-flag {
    width: 32px;
    height: 32px;
    left: 24px;
  }

  .country-code-wrapper::before {
    font-size: 18px;
    left: 74px;
    top: 24px;
  }

  .country-code-wrapper::after {
    left: 149px;
    top: 18px;
    height: 32px;
    width: 2.5px;
  }

  .user-phone-input {
    padding-left: 177px;
  }
}

/* input, textarea mobile */

/* all:
padding: 14px 18px;
border-radius: 8px;
border: 1.5px solid rgba(17, 17, 17, 0.05);

buy now radio:
border-radius: 15px;
border: 1px solid rgba(17, 17, 17, 0.10);
background: #FFF;

subscribe:
padding: 14px 18px;
border-radius: 25px;
border: 1.5px solid rgba(17, 17, 17, 0.05);

/* input, textarea tablet */

/* all:
border-radius: 13px;
border: 1.5px solid rgba(17, 17, 17, 0.05);

buy now radio:
border-radius: 15px;
border: 1px solid rgba(17, 17, 17, 0.10);
background: #FFF;

subscribe:
border-radius: 30px;
border: 1.5px solid rgba(17, 17, 17, 0.05);


/* input, textarea desktop */

/* all:
border-radius: 13px;
border: 1.5px solid rgba(17, 17, 17, 0.05);

buy now radio:
border-radius: 15px;
border: 1px solid rgba(17, 17, 17, 0.10);
background: #FFF;

subscribe:
border-radius: 30px;
border: 1.5px solid rgba(17, 17, 17, 0.05);


/* Маячёк ввода */
input,
textarea,
[contenteditable] {
  caret-color: var(--accent-color);
}
