/* Reiterovich Andrii */

/*Для всех 3х вьюпортов*/


.review-title {
  text-align: center;
}



.reviews-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  position: relative;
  height: 200px;
}

.reviews-photo {
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.reviews-name {
  font-weight: 600;
  margin-top: 56px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
}

.reviews-direction {
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}



.review-button {
  border: 1px solid var(--specific-color);
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: var(--general-transition);
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Montserrat';
  font-weight: 600;
  color: var(--main-color-page);
  text-align: center;
}

.review-button:hover,
.review-button:focus {
  background-color: var(--specific-color);
  color: var(--secondary-text-color);
}









.review-modal-title {
  text-align: start;
}

.review-input-item {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}

.review-textarea {
  resize: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}

.review-input-item-flag {
  position: relative;
}

.review-flag-block {
  position: absolute;
  display: flex;
  align-items: center;
}

.review-flag-after::after {
  content: '';
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.button {
  transition: var(--general-transition);
}

.button:hover,
.button:focus {
  background: #fcf1e0;
  color: #fd9222;
}

/*Только мобилка*/

@media screen and (max-width: 767px) {
 
     .reviews-list {
       margin-top: 74px;
       padding-bottom: 33px;
     }
      .section-reviews {
    padding-bottom: 72px;
  }
    .reviews-list-item {
    margin-right: 20px;
    max-width: 335px;
    padding-left: 18px;
    padding-right: 18px;
  }
    .review-button {
      padding: 12px 28px;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 32px;
  }
}













/*Только планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-reviews {
    padding-bottom: 100px;
  }
        .reviews-list-item {
          margin-right: 16px;
        }
          .reviews-list-item {
    width: 344px;
    padding-left: 16px;
    padding-right: 16px;
  }
}



/*Планшет и десктоп*/
@media screen and (min-width: 768px) {
  .reviews-list {
    margin-top: 91px;
    padding-bottom: 44px;
  }
    .review-button {
    font-size: 18px;
    line-height: 1.22;
    margin-top: 50px;
  }

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 768px) {

}









/*Только десктоп*/
@media screen and (min-width: 1200px) {
  .section-reviews {
    padding-bottom: 128px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-list-item {
    width: 360px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 28px;
  }
}
