/* Reiterovich Andrii */

/*Для всех 3х вьюпортов*/

.review-subtitle-name {
  margin-bottom: 10px;
  text-align: center;
  color: var(--accent-color);
}

.reviews-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  position: relative;
  height: 200px;
}

.reviews-photo {
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.reviews-name {
  font-weight: 600;
  margin-top: 56px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
}

.reviews-direction {
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.review-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-text-color);
  border: 1px solid var(--accent-color);
}

.review-button:hover,
.review-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--accent-color);
}

/*Только мобилка*/

@media screen and (max-width: 767px) {
  .reviews-list {
    margin-top: 74px;
    padding-bottom: 33px;
  }

  .reviews-list-item {
    max-width: 335px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .review-button {
    margin-top: 32px;
  }
}

/*Только планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews-list-item {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*Планшет и десктоп*/
@media screen and (min-width: 768px) {
  .reviews-list {
    margin-top: 91px;
    padding-bottom: 44px;
  }

  .review-button {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-list-item {
    padding-left: 24px;
    padding-right: 24px;
  }
}
