/* Eugen Zarivniy */

/*Для всех вьюпортов*/

.sellers-image {
  width: 100%;
}

/*Только мобилка*/
@media screen and (max-width: 767px) {
  .sellers-title {
    margin-bottom: 32px;
  }

  .img-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 20px;
  }

  .img-item {
    width: 100%;
  }
  .pic1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text {
    font-size: 14px;
    line-height: 1.29;
  }

  .text-2 {
    display: none;
  }

  .subscribe-button {
    display: flex;
    margin: 0 auto;
  }
}

/*Мобилка и планшет*/
@media screen and (max-width: 1199px) {
  .pic3 {
    display: none;
  }
}

/*Только планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .img-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
  }
  .img-item {
    width: calc((100% - 16px) / 2);
  }

  .text {
    font-size: 14px;
    line-height: 1.29;
  }

  .text-2 {
    max-width: 306px;
  }
}

/*Планшет и десктоп*/
@media screen and (min-width: 768px) {
  .sellers-title {
    margin-bottom: 50px;
  }
  .img-list {
    margin-bottom: 32px;
  }
  .text {
    display: none;
  }
  .text-2 {
    font-size: 14px;
    line-height: 18px;
  }

  .sellers-text-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*Только десктоп*/
@media screen and (min-width: 1200px) {
  .img-list {
    display: flex;
    gap: 16px;
  }
  .img-item {
    width: calc((100% - 32px) / 3);
  }

  .text {
    font-size: 14px;
    line-height: 18px;
  }
  .text-2 {
    max-width: 407px;
  }
}
