/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('general.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./components.css');
@import url('./howmade.css');
@import url('./products.css');
@import url('./sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modal-buy-now.css');





