/* Egor Matveev */

 /*Для всех вьюпортов*/


 .matveev-example {
     color: tomato;
 }

 /*Только мобилка*/
 @media screen and (max-width: 767px) {
    .subscribe-section {
        padding-bottom: 63px;
        padding-top: 62px;
    }
 }

 /*Мобилка и планшет*/
 @media screen and (max-width: 1199px) {}



 /*Только планшет*/
 @media screen and (min-width: 768px) and (max-width: 1199px) {}


 /*Планшет и десктоп*/
 @media screen and (min-width: 768px) {
    .subscribe-section {
        padding-top: 72px;
        padding-bottom: 72px;
    }
 }


 /*Только десктоп*/
 @media screen and (min-width: 1200px) {}